---
- name: Symlink dotfiles
  file: src=~/dotfiles/home/{{ item }}
        dest=~/{{ item }}
        state=link
        force=yes
  with_items:
    - .bashrc

- name: Reapply dotfiles
  command: source {{ item }}
  with_items:
    - .bashrc