---
- name: Change shell to ZSH
  become: yes
  become_method: sudo
  command: chsh -s '/bin/zsh' doowzs

- name: Init Git config - Editor
  git_config:
    name: core.editor
    scope: global
    value: vim

- name: Init Git config - User name
  git_config:
    name: user.name
    scope: global
    value: Tianyun Zhang

- name: Init Git config - User email
  git_config:
    name: user.email
    scope: global
    value: doowzs@qq.com

- name: Install AgnosterZak theme
  copy: src=agnosterzak.zsh-theme 
        dest=~/dotfiles/home/.oh-my-zsh/themes/agnosterzak.zsh-theme 
        mode=755

- name: Symlink dotfiles
  file: src=~/dotfiles/home/{{ item }}
        dest=~/{{ item }}
        state=link
        force=yes
  with_items:
    - .bashrc
    - .zshrc
    - .oh-my-zsh
    - .vimrc
    - .vim_runtime
    - .tmux
    - .tmux.conf
    - .tmux.conf.local
